asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
babelfish==0.5.5
bottle==0.12.13
cffi==1.10.0
chardet==3.0.4
click==6.7
colorama==0.3.7
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
decorator==4.0.11
enum34==1.1.6
guessit==2.1.4
hachoir-core==1.3.3
hachoir-metadata==1.3.3
hachoir-parser==1.3.4
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
keyring==10.3.1
keyrings.alt==2.2
lxml==3.8.0
parsel==1.2.0
pathlib==1.0.1
pathlib2==2.1.0
psutil==5.0.1
pyasn1==0.3.4
pyasn1-modules==0.1.4
pycparser==2.18
pycrypto==2.6.1
PyDispatcher==2.0.5
pygobject==3.22.0
pyOpenSSL==17.2.0
python-dateutil==2.6.1
pyxdg==0.25
queuelib==1.4.2
rebulk==0.9.0
Scrappy==0.3.0a4
Scrapy==1.4.0
SecretStorage==2.3.1
service-identity==17.0.0
six==1.10.0
squarify==0.3.0
tvdb-api==1.10
Twisted==17.5.0
virtualenv==15.1.0
w3lib==1.18.0
zope.interface==4.4.2
